.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 30px;
  padding: 20px;
  color: white;
  margin-bottom: 5vh;
}

.Board {
  width: 30em;
  margin: 10px auto;
  height: 30em;
  background-color: white;
  padding: 0;
}

.Cell {
  float: left;
  width: 9em;
  height: 9em;
  border: solid 1px red;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

.Status {
  margin: 10px;
  color: red;
}

.winner {
  -webkit-animation: win-win 1s infinite; /* Safari 4+ */
  -moz-animation:    win-win 1s infinite; /* Fx 5+ */
  -o-animation:      win-win 1s infinite; /* Opera 12+ */
  animation:         win-win 1s infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes win-win {
  0%, 49% {
    border-color: #fff;
    background-color: red;
  }
  50%, 100% {
    background-color: #fff;
}
}
